on:
  pull_request:
    branches: [ "master", "main" ]

  push:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Check phenotype model
    steps:

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: "4.2.3"

      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 1
          packages: github::UW-GAC/AnvilDataModels, any::sessionInfo
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
